<!DOCTYPE html>
<html>
  <head>
    <title>Successful purchase</title>
    <meta http-equiv="refresh" content="5;url=/">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="d-flex w-100 justify-content-center">
      <div class="container-fluid p-5 mx-5">
        <h1>
          Thank you for your purchase
        </h1>
        <p>
          Your order has been successfully processed. You will be redirected to our homepage in 5 seconds.
        </p>
      </div>
    </div>
  </body>
</html>
