<%= turbo_frame_tag "modal" do %>
  <div class="modal-header">
    <h1 class="modal-title">New</h1>
  </div>
  <%= render 'form', service: @service, product_version_category: @product_version_category %>
<% end %>
