<div id="<%= dom_id store %>">
  <h2><%= store.name %></h2>
  <div>
    <strong>Revenue:</strong>
    510.01
  </div>
  <div>
    <strong>New orders:</strong>
    5
  </div>
  <div>
    <strong>Open issues:</strong>
    5
  </div>
  <div>
    <strong>Visitors:</strong>
    8
  </div>
</div>
