<p style="color: green"><%= notice %></p>

<h1>Dashboard</h1>
<div>
  Create a new store:
  <%= link_to 'New store', new_admin_store_path %>
</div>
<div id="stores">
  <% @stores.each do |store| %>
    <%= render partial: 'admin/dashboard/store', locals: {store: store} %>
  <% end %>
</div>
