<div id="<%= dom_id store %>">
  <div class="table-responsive">
    <table class="table">
      <tbody>
        <tr>
          <th>Name</th>
          <td><%= @store.name %></td>
        </tr>
        <tr>
          <th>Package</th>
          <td><%= @store.package&.name || 'None' %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
