<%= turbo_frame_tag "modal" do %>
  <div class="modal-header">
    <h1 class="modal-title">Edit</h1>
  </div>
  <%= render 'form', service: @service, product: @product, product_version: @product_version %>
<% end %>
