<tr>
  <td><%= link_to product.key, admin_product_path(product) %></td>
  <td><%= time_tag(product.created_at) %></td>
  <td>
    <%= card_controls do %>
      <%= show_button(:admin, product) %>
    <% end%>
  </td>
</tr>
