<h1>Editing product</h1>

<%= render "form", product: @product %>

<br>

<div>
  <%= link_to "Show this product", admin_product_path(@product) %> |
  <%= link_to "Back to products", admin_store_products_path(@product.store) %>
</div>
