<%= page_title('Products') do %>
  <%= link_to '', new_admin_store_product_path, class: 'btn btn-success fas fa-plus', data: { turbo: true, turbo_frame: 'modal' } %>
<% end %>

<div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card mb-3 border">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <th>Key</th>
              <th>Created at</th>
              <th>Actions</th>
            <tbody id='products'>
              <%= render @products %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
