<tr>
  <td>
    <%= link_to(purchase_cart_item.product_name, [:admin, purchase_cart_item.product_version]) %>
  </td>
  <td>
    <%= purchase_cart_item.quantity %>
  </td>
  <td>
    <%= purchase_cart_item.price %>
  </td>
  <td>
    <%= purchase_cart_item.total_price %>
  </td>
</tr>
