<%= turbo_frame_tag "modal" do %>
  <div class="modal-header">
    <h1 class="modal-title"><%= t('new') %></h1>
  </div>
  <%= render 'form', blog_post: @blog_post, blog_post_translation: @blog_post_translation %>
<% end %>
