<%= page_title('Product categories') do %>
  <%= create_button(:admin, :store, :product_category) %>
<% end %>

<div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card mb-3 border">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <th>Name</th>
              <th>Key</th>
              <th>Created at</th>
            <tbody id=product_categories>
              <%= render @product_categories %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
