<tbody id='user_account'>
  <tr>
    <th>Email</th>
    <td><%= @user_account.email %></td>
  </tr>
  <tr>
    <th>Created at</th>
    <td><%= time_tag(@user_account.created_at) %></td>
  </tr>
  <tr>
    <th>Updated at</th>
    <td><%= time_tag(@user_account.updated_at) %></td>
  </tr>
</tbody>
