<%= page_title(t('titles.user_accounts')) do %>
<% end %>

<div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card mb-3 border">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <th><%= t('attributes.email') %></th>
              <th><%= t('attributes.actions') %></th>
            <tbody id=user_accounts>
              <%= render @user_accounts %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
