<%= turbo_frame_tag "modal" do %>
  <div class="modal-header">
    <h1 class="modal-title">New</h1>
  </div>
  <%= render 'form', user_account: @user_account, user_user_group: @user_user_group %>
<% end %>
